<!-- <div class="container mt-3">
  <button class="btn btn-primary me-2" routerLink="/user/user-form">Add User</button>
  <button class="btn btn-secondary" routerLink="/user/user-list">User List</button>
</div>

<router-outlet></router-outlet> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">mANUFACTURE</a>

    <div class="d-flex">
      <button class="btn btn-light me-2" routerLink="/user/user-list">User List</button>
      <button class="btn btn-success" routerLink="/user/user-form">Add User</button>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet> <!-- User module loads here -->
</div>

